<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Index</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Flex%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono%3A400"/>
  <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
<main>
    <div class="dark-bg">
        <img src="C:\Users\VICTOR\Desktop\Python-Flask-Authentication-Tutorial-main\assets\finbot-high-resolution-color-logo-1-1.png"/>
        <p class="hero-text">FinBot is an advanced financial advisor chatbot designed to assist users in making informed financial decisions. With its expertise in investment planning, budget savings, loan advice, and more, FinBot aims to empower individuals with personalized financial guidance.</p>
    <a href ="login.html">Tap To Proceed</a>
    </div>
</main>
</body>